/* Définition des polices personnalisées */

@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
        url('polices/ballpark.woff') format('woff'),
        url('polices/ballpark.ttf') format('truetype'),
        url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
        url('polices/dayrom.woff') format('woff'),
        url('polices/dayrom.ttf') format('truetype'),
        url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Dayrom';
    margin: 0;
}

body {
    margin: auto;
    background: url('images/fond_jaune.png');
}

.blocPage {
    width: 1200px;
    margin: auto;
}

Header {
    display: flex;
    justify-content: space-between;
    background: url('images/separateur.png') repeat-x bottom;
}

h1 {
    font-family: 'BallparkWeiner';
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

.titreHdeux h2 {
    font-weight: normal;
    margin-top: -17px;
}

.titreLogo {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-top: 15px;
}

nav ul {
    display: flex;
    margin-top: 40px;
    font-size: 26px;
}

nav li {
    display: flex;
    margin: 20px;

}

nav a {
    text-decoration: none;
    color: black;
    border-bottom: 3px transparent solid;
}

nav a:hover {
    border-bottom: 3px rgb(133, 16, 16) solid;
    color: rgb(133, 16, 16);
    font-weight: bold;
}

.titreHdeux {
    display: flex;
    flex-direction: column;
}

.bannerSection {
    background-color: antiquewhite;
    padding-bottom: 100px;
    padding-top: 10px;
    background-size: 100% auto;
}

.bannerSanfransisco {
    background-image: url("./images/sanfrancisco.jpg");
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    background-size: cover;
}

.bannerDescription {
    background-color: rgba(24, 24, 24, 0.8);
    color: white;
    display: flex;
    height: 40px;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    width: 99%;
    padding: 0 5px 0 5px;
    align-items: center;
}

button {
    background-image: url(./images/fond_degraderouge.png);
    color: white;
    background-size: contain;
    width: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    font-size: large;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

section {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.titreArticleLogo {
    display: flex;
    align-items: center;
}

article {
    width: 67%;
    text-align: justify;
}

article p {
    margin-bottom: 20px;
    margin-top: 15px;
}

table {
    border-collapse: collapse;
}

td,
th

/* Mettre une bordure sur les td ET les th */
    {
    border: 1px solid black;
}

/* maman relative */
aside {
    background-color: grey;
    width: 30%;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1c1a19;

}

aside p {
    text-align: justify;
    margin: 20px 10px;
}

aside h2 {
    margin: 20px;
}

.zozorPhoto {
    width: 180px
}

/* enfant absolute */
.flecheBulle {
    position: absolute;
    left: -15px;
    top: 160px;
    width: 15px;
}

.iconAside {
    width: 15%;
}

.lamereaZozor {
    display: flex;
    justify-content: space-evenly;
}

section h2 {
    font-weight: normal;
    margin-left: 0;
}

footer {
    display: flex;
    background: url('images/ico_top.png') no-repeat top center,
        url('images/separateur.png') repeat-x top,
        url('images/ombre.png') repeat-x top;
    justify-content: space-evenly;
}

.tweetFooter p {
    margin-top: 15px;
}

.tweetFooter {
    margin-right: 100px;
    padding: 15px;
}

.listeAmis {
    margin-top: 15px;
    display: flex;
}

.listeAmis ul li a {
    text-decoration: none;
    color: rgb(133, 16, 16);
}

.listeAmis ul {
    list-style-image: url("images/ico_liensexterne.png");
}

.photoFooter {
    margin-top: 15px;
    width: 90px;
    border: 1px black solid;
    border-radius: 4px;
}

.amisFooter {

    margin-left: 60px;
    margin-left: 50px;
    padding: 15px;
}

.mesphotosFooter {
    position: relative;
    padding: 15px;
    margin-right: 0px;

}

@media all and (max-width: 1024px) {
    .blocPage {
        width: auto;
    }
}

@media all and (max-width: 1024px) {
    nav {
        width: auto;
        text-align: left;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        padding-left: 4px;
    }

    nav a {
        font-size: 1.1em;
    }

    nav a:hover {
        border-bottom: 0;
    }
}